aiohttp
APScheduler
fastapi[all]
feedparser
langchain-community
langchain_core
langchain_openai
langchain-anthropic
langchain-google-genai
openai
mitreattack_python
newspaper4k
Pillow
pydantic
regex
Requests
SQLAlchemy
tweepy
uvicorn
lxml[html_clean]
html2text
